.login-container{
    display: flex;
    flex-direction: column;
}

button{
    width: 100px;
    height: 25px;
}

.inputfields-container{
    display: flex;
    align-self: center;
    flex-direction: column;
}

.log-into-ur-acc{
    text-align: start;
}

.text-fields-div{
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.login-questions-div{
    display: flex;
    justify-content: space-between;
}

.login-button{
    width: 400px;
    height: 50px;
    border-radius: 15px;
}

.login-button-div{
    margin-top: 3em;
}