.app-header-div{
    display: flex;
    justify-content: space-between;
}

.styx-logo-img{
    width: 150px;
    height: 100px;
}

.app-header-menu-div{
    display: flex;
    justify-content: space-evenly;
    gap: 5em;
    padding: 1em 1em 1em 1em;
    height: 100%;
}