.input-field,.reg-input-field{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

input{
    font-size: 25px;
}

label{
    font-size: 25px;
}

.usernamerules-div{
    text-align: left;
}

.rules-list-div{
    line-height: 1em;
    font-size: 0.75em;
}



